{% extends "base.html" %}

{% block title %}Reviews{% endblock title %}

{% block content %}
<div class="space-y-2">
  {% for review in review_list  %}
    <div class="card card-side bg-base-100 shadow-xl">
      <figure><img src="{{ review.film.poster.url }}" alt="Movie Poster"></figure>
      <div class="card-body">
        <h1 class="card-title text-primary-content">{{ review.film }} by {{ review.profile }}</h1>
      </div>
    </div>
    <div class="divider"></div>
  {% endfor %}
</div>

{% endblock content %}