{% extends "base.html" %}
{% load range %}

{% block title %}{{ object }}{% endblock title %}

{% block content %}
<article class="mx-auto max-w-md md:max-w-2xl bg-base-200 space-y-2 md:mb-2">
  <section class="card md:card-side bg-base-100 md:h-90">
    <figure class="relative shrink-0 select-none">
      <img class="w-full md:h-full md:w-none" src="{{ review.film.poster.url }}" alt="Movie Poster">
    </figure>
    <div class="card-body grow-0 w-full">
      <div class="card-title myh2 flex-col">
        <h2 class="myh2 hover:underline"><a href="{% url "films:detail" review.film.slug %}">{{ review.film }}</a></h1>
        <div class="rating rating-lg mb-2">
          {% for i in 5|get_range  %}
            <input disabled type="radio" class="mask mask-star-2 bg-prime" {% if i == review.rating %} checked {% endif %} />
          {% endfor %}
        </div>
        <div class="text-center text-base-content">
          <p class="text-3xl font-normal -mb-5 font-serif">“</p>
          <p class="text-xl px-4 ">
            {{ review.short_review }}
          </p>
          <p class="text-3xl font-normal -mb-4 font-serif">”</p>
        </div>
        <div>
          <a href="{% url "profiles:detail" review.profile.slug %}">
            {% if review.profile.profile_pic %}
              <img src="{{ review.profile.profile_pic.url }}" class="rounded-full w-24 hover:ring ring-primary ease-in duration-200" />
            {% else %}
              <div class="avatar placeholder">
                <div class="bg-primary text-primary-content rounded-full w-24">
                  <span class="text-4xl">{{ review.profile.user.username|first }}</span>
                </div>
              </div> 
            {% endif %}
          </a>
        </div>
        <p class="text-xl font-bold text-base-content px-4 pb-2">
          - 
          <a class="hover:underline" href="{% url "profiles:detail" review.profile.slug %}">
          {{ review.profile }}
          </a>
        </p>
      </div>
    </div>
  </section>
  <section class="rounded-2xl bg-base-100 p-4 md:p-8 space-y-4">
    <h2 class="myh2">คะแนนแต่ละด้าน</h2>
    <div class="grid grid-cols-2 items-center gap-4">
      <div>
        ด้านงานบทและการเล่าเรื่อง
      </div>
      <div class="rating rating-md">
        {% for i in 5|get_range  %}
          <input disabled type="radio" class="mask mask-star-2 bg-prime" {% if i == review.screenplay_rating %} checked {% endif %} />
        {% endfor %}
      </div>
      <div>
        ด้านงานการแสดง
      </div>
      <div class="rating rating-md">
        {% for i in 5|get_range  %}
          <input disabled type="radio" class="mask mask-star-2 bg-prime" {% if i == review.acting_rating %} checked {% endif %} />
        {% endfor %}
      </div>
      <div>
        ด้านงานเสียง
      </div>
      <div class="rating rating-md">
        {% for i in 5|get_range  %}
          <input disabled type="radio" class="mask mask-star-2 bg-prime" {% if i == review.sound_rating %} checked {% endif %} />
        {% endfor %}
      </div>
      <div>
        ด้านงานภาพและงานสร้าง
      </div>
      <div class="rating rating-md">
        {% for i in 5|get_range  %}
          <input disabled type="radio" class="mask mask-star-2 bg-prime" {% if i == review.cinematography_rating %} checked {% endif %} />
        {% endfor %}
      </div>
    </div>

  </section>
  <section class="rounded-2xl bg-base-100 p-4 md:p-8 space-y-4">
    <h2 class="myh2">รีวิวเต็ม</h2>
    <div>
      {{ review.full_review }}
    </div>
  </section>
</article>


{% endblock content %}