{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load allauth %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

{% if form.error %}
Form is error
{% endif %}

<div class="max-w-md mx-auto my-auto space-y-4">
  <h1 class="myh1">Password Reset</h1>
  
  <form method="post" action={{ action_url }}>
    {% csrf_token %}
    {{ form|crispy }}
    <a href="{% url 'account_signup' %}" class="btn btn-sm btn-secondary">Reset My Password</a>
    <input type="hidden" name="next" value="?login" />
  </form>

</div>


{% endblock content %}