{% extends "base.html" %}

{% block title %}Criteria{% endblock title %}

{% block content %}
<div class="space-y-4 p-2">
  <h1 class="myh1">Rating Criteria</h1>
  <div>
    <h2 class="myh2">Acting</h2>
    <ul class="list-inside">
      <li>Believability</li>
      <li>Chemistry and Dynamic Between Characters</li>
      <li>Emotional Delivery</li>
    </ul>
    <div class="grid grid-cols-1 justify-items-center max-w-md mx-auto">
      <img class="object-contain" src="https://64.media.tumblr.com/1ac1f62e6354a5d7fbfe5d208f10b506/88d5884ac4d56e95-49/s540x810/edcc015e472c7927dfddd268ef0bead3ea9aaf83.gifv">
      <img class="object-contain" src="https://64.media.tumblr.com/a80ea10fc10cb80221c48b243eba777e/88d5884ac4d56e95-14/s540x810/a7904cb159d8e1d6b6dd00e7b391664b01e4b2b1.gifv">
      <p class="opacity-70">Marriage Story (2019)</p>
    </div>
    </ul>
    <div class="grid grid-cols-1 justify-items-center max-w-md mx-auto">
      <img class="object-contain" src="https://img.wattpad.com/6dcdad4a42543d91dea1b07a15d5c60cc6ebb583/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f36417675536c55726a6e4f7751513d3d2d3639353033303933322e313538343336346166653739656235303438373432303630353331322e676966">
      <p class="opacity-70">Bohemian Rhapsody (2018)</p>
    </div>
  </div>
  <div class="divider my-0.5"></div>
  <div>
    <h2 class="myh2">Cinematography and Production</h2>
    <ul class="list-inside">
      <li>Composition</li>
      <li>Lighting and Color Palette</li>
      <li>Camera Angles and Movements</li>
      <li>Sets and Props</li>
      <li>Makeup and Hairstyling</li>
    </ul>
    <div class="grid grid-cols-1 grid-flow-row justify-items-center space-y-2 max-w-md mx-auto">
      <div>
        <img class="object-contain w-auto" src="https://64.media.tumblr.com/0ac35f452591b7ad82c1af0d141e2e2c/tumblr_pshm8rYHHG1qgpaguo6_540.gifv">
        <p class="text-center opacity-70">Blade Runner 2049 (2017)</p>
      </div>
      <div>
        <img class="object-contain w-auto" src="https://64.media.tumblr.com/dd850cbad7cac1d47a9d7652aa8539b9/48f1140a801016ff-1c/s540x810/6dae5d30da053c708e6f8b0cf7926f28e6edeb83.gifv">
        <p class="text-center opacity-70">Parasite (2019)</p>
      </div>
      <div>
        <img class="object-contain w-auto" src="https://i.pinimg.com/originals/49/7f/c8/497fc814e5ecdca623e1c4ed3aa98059.gif">
        <p class="text-center opacity-70">The Shining (1980)</p>
      </div>
      <div>
        <img class="object-contain w-auto" src="https://static01.nyt.com/images/2020/05/14/reader-center/14madmax-burst-max/14madmax-burst-max-blog480-v6.gif">
        <p class="text-center opacity-70">Mad Max: Fury Road (2015)</p>
      </div>
      <div>
        <img class="object-contain w-auto" src="https://i.makeagif.com/media/2-02-2023/PSgDnT.gif">
        <p class="text-center opacity-70">La La Land (2016)</p>
      </div>
    </div>
  </div>
  <div class="divider my-0.5"></div>
  <div>
    <h2 class="myh2" id="sound">
      Sound
      <a class="headerlink" href="#sound" title="Permalink to this headline">¶</a>
    </h2>
    <ul class="list-inside">
      <li>Sound Effect</li>
      <li>Score</li>
      <li>Music</li>
      <li>Sound Mixing, Recording, Editing, Design</li>
    </ul>
    <div class="grid grid-cols-1 grid-flow-row justify-items-center space-y-2 max-w-md mx-auto">
      <iframe src="https://www.youtube.com/embed/4JZ-o3iAJv4?si=wWwDfl5cideT9tR4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/WCtJ_EZQQBM?si=Iatoe-Y1z1roEW-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
  <div class="divider my-0.5"></div>
  <div>
    <h2 class="myh2">Screenplay</h2>
    <ul class="list-inside">
      <li>Narrative Structure</li>
      <li>Originality</li>
      <li>Character Development</li>
      <li>Dialogue Quality</li>
    </ul>
    <div class="grid grid-cols-1 grid-flow-row justify-items-center space-y-2 max-w-md mx-auto">
      <div>
        <img class="object-contain w-screen" src="https://i.kym-cdn.com/photos/images/newsfeed/002/558/518/e28.gif">
        <p class="text-center opacity-70">Everything Everywhere All at Once (2022)</p>
      </div>
      <div>
        <img class="object-contain w-screen" src="https://pa1.aminoapps.com/6277/92b463c7d3515d16d253c14b77c9e428a511f33a_hq.gif">
        <p class="text-center opacity-70">Her (2013)</p>
      </div>
    </div>
  </div>
  <div class="divider my-0.5"></div>
  <div>
    <h2 class="myh2">Direction</h2>
    <ul class="list-inside">
      <li>Director style</li>
      <li>Pacing</li>
      <li>Editing</li>
      <li>Emotional Impact</li>
      <li>Theme and Messages</li>
    </ul>
    <div class="grid grid-cols-1 grid-flow-row justify-items-center space-y-2 max-w-md mx-auto">
      <div>
        <img class="object-contain w-screen" src="https://lh3.googleusercontent.com/proxy/iZliiWf2xxDhIoHpmDthRWFzVhgS7ZGFuWZgytYWTwDdS5P7a0iBopWIl6Dgckqj1POPq0AIQTjaoJK_0Ktfca0RrYWuJKpF66fFJ5Z4rEROdpzgDQ8wFfXvHrgY00i1n1hX1xV1Wrkp4XPgHb0GHmh8CI0inEMXTEI">
        <p class="text-center opacity-70">Moonrise Kingdom (2012)</p>
      </div>
      <div>
        <img class="object-contain w-screen" src="https://j.gifs.com/vW3Rld.gif">
        <p class="text-center opacity-70">The Dark Knight (2008)</p>
      </div>
      <div>
        <img class="object-contain w-screen" src="https://media.giphy.com/media/yIRdeZAnRxFeg/giphy.gif">
        <p class="text-center opacity-70">No Country for Old Men (2007)</p>
      </div>
    </div>
  </div>
  <div class="divider my-0.5"></div>
  <div>
  </div>
</div>

{% endblock content %}