{% extends "base.html" %}

{% block title %}Criteria{% endblock title %}

{% block content %}
<div class="space-y-4">
  <h1 class="myh1">เกณฑ์พิจารณาการให้คะแนนแต่ละด้าน</h1>
  <div>
    <h2 class="myh2">ด้านงานการแสดง</h2>
    <ul>
      <li>ความน่าเชื่อถือของการแสดง</li>
      <li>เคมีและการรับส่งระหว่างตัวละคร</li>
      <li>การแสดงอารมณ์</li>
    </ul>
  </div>
  <div>
    <h2 class="myh2" id="sound">
      ด้านงานเสียง
      <a class="headerlink" href="#sound" title="Permalink to this headline">¶</a>
    </h2>
    <ul>
      <li>sound effect</li>
      <li>ดนตรีประกอบ</li>
      <li>เพลงประกอบ</li>
      <li>การผสมเสียงและตัดต่อเสียง</li>
    </ul>
  </div>
  <div>
    <h2 class="myh2">ด้านงานบทและการเล่าเรื่อง</h2>
    <ul>
      <li>ความสดใหม่ของเรื่อง</li>
      <li>การพัฒนาของตัวละคร</li>
      <li>ความสะเทือนอารมณ์ของเรื่อง</li>
      <li>จังหวะการเล่าเรื่องและการลำดับภาพ</li>
      <li>สิ่งที่หนังสื่อสารออกมา</li>
    </ul>
  </div>
  <div>
    <h2 class="myh2">ด้านงานภาพและงานสร้าง</h2>
    <ul>
      <li>การจัดวางองค์ประกอบของภาพ</li>
      <li>การจัดแสงและสี</li>
      <li>การวางมุมกล้องและการเคลื่อนกล้อง</li>
      <li>ฉากและของประกอบฉาก</li>
      <li>แต่งหน้าทำผม</li>
    </ul>
  </div>
  <div>
    <h2 class="myh2">ด้านงานภาพและงานสร้าง</h2>
    <ul>
      <li>การจัดวางองค์ประกอบของภาพ</li>
      <li>การจัดแสงและสี</li>
      <li>การวางมุมกล้องและการเคลื่อนกล้อง</li>
      <li>ฉากและของประกอบฉาก</li>
      <li>แต่งหน้าทำผม</li>
    </ul>
  </div>
  <div>
    <h2 class="myh2">ด้านงานภาพและงานสร้าง</h2>
    <ul>
      <li>การจัดวางองค์ประกอบของภาพ</li>
      <li>การจัดแสงและสี</li>
      <li>การวางมุมกล้องและการเคลื่อนกล้อง</li>
      <li>ฉากและของประกอบฉาก</li>
      <li>แต่งหน้าทำผม</li>
    </ul>
  </div>
  <div>
    <h2 class="myh2">ด้านงานภาพและงานสร้าง</h2>
    <ul>
      <li>การจัดวางองค์ประกอบของภาพ</li>
      <li>การจัดแสงและสี</li>
      <li>การวางมุมกล้องและการเคลื่อนกล้อง</li>
      <li>ฉากและของประกอบฉาก</li>
      <li>แต่งหน้าทำผม</li>
    </ul>
  </div>
  <div>
    <h2 class="myh2">ด้านงานภาพและงานสร้าง</h2>
    <ul>
      <li>การจัดวางองค์ประกอบของภาพ</li>
      <li>การจัดแสงและสี</li>
      <li>การวางมุมกล้องและการเคลื่อนกล้อง</li>
      <li>ฉากและของประกอบฉาก</li>
      <li>แต่งหน้าทำผม</li>
    </ul>
  </div>
  <div>
  </div>
</div>


{% endblock content %}