{% extends "base.html" %}

{% block title %}{{ object.user.username }}{% endblock title %}

{% block content %}

<section class="hero bg-base-100 glass">

  <div class="hero-content flex-col md:flex-row max-w-lg mx-auto">
    <div class="max-w-sm">
      <div class="w-24 rounded">
        {% if object.profile_pic %}
          <img src="{{ object.profile_pic.url }}" />
        {% else %}
          <div class="avatar placeholder">
            <div class="bg-neutral text-neutral-content w-24">
              <span class="text-3xl">{{ object.user.username|first }}</span>
            </div>
          </div> 
        {% endif %}
      </div>
    </div>
    <div class="space-y-4 flex flex-col items-center md:items-start">
      <h1 class="text-5xl font-bold">{{ object.user.username }}</h1>
      <p>
        {% if object.bio %}{{ object.bio }}{% endif %}
      </p>
      
      <div class="stats stats-horizontal shadow">
        <div class="stat">
          <div class="stat-title">Followers</div>
          <div class="stat-value">{{ object.followers.all.count }}</div>
        </div>
        <div class="stat">
          <div class="stat-title">Reviews</div>
          <div class="stat-value">{{ object.reviews.all.count }}</div>
        </div>
        <div class="stat">
          <div class="stat-title">Likes</div>
          <div class="stat-value">{{ likes_received_count }}</div>
        </div>
    </div>
    {% if user.is_authenticated and user.profile != object.user.profile %}
    <div>
      <button 
        class="btn btn-primary btn-sm"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-post={% url "profiles:follow" object.slug %}
        hx-trigger="click throttle:1s"
      >
        {% if is_profile_follow %}
          Unfollow
        {% else %}
          Follow
        {% endif %}
      </button>
    </div>
    {% endif %}
  </div>
</section>

{% endblock content %}