{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load allauth %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

{% if form.error %}
Form is error
{% endif %}

<div class="max-w-md mx-auto my-auto space-y-4 p-2">
  <h1 class="myh1">Password Reset</h1>

  <form method="post" action={{ action_url }}>
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-secondary btn-sm" type="submit" name="action" value="Change Password" />
  </form>

</div>


{% endblock content %}
