{% extends 'base.html' %} 


{% block title %}
  Main Page
{% endblock  %}

{% block header %}
<section class="flex justify-between fixed top-0 left-0 z-50 py-1 px-2 h-12 w-full border-b">
  <h1 class="prose-2xl text-secondary">รีวิว</h1>
  <h1 class="prose-2xl text-primary">หนังไทย</h1>
</section>

{% endblock %}

{% block navbar %}
<navbar class="flex justify-evenly items-center border-t fixed left-0 bottom-0 w-full h-10 z-48 md:top-12 md:h-full md:w-10 md:border-r md:border-t-0 md:flex-col">
  <h2 class="prose-l text-secondary">icon</h1>
  <h2 class="prose-l text-secondary">icon</h1>
  <h2 class="prose-l text-primary">icon</h1>
  <h2 class="prose-l text-secondary">icon</h1>
  <h2 class="prose-l text-secondary">icon</h1>

</navbar>

{% endblock %}