<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>{% block title %}{% endblock %} | {{ settings.APP_NAME }} |</title>

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>

  <!-- talwindcss and daisyUI -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.5/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

  {% block head %} {% endblock %}
</head>
<body>
  {% block navbar %} {% endblock %}
  {% block content %} {% endblock %}
  {% block footer %} {% endblock %}
</body>
</html>