body {
    font-family: 'Kanit', 'Arial Narrow', Arial, sans-serif;
}

[data-theme='my_light'] {
  /* primary */
  --p: 88.38% 0.172 93.52;
  /* primary focus */
  --pf: 88.38% 0.172 93.52;
  /* primary content */
  --pc: 48 83% 100%;

  /* secondary */
  --s: 39.26% 0.072 178.49;
  /* secondary focus */
  --sf: 39.26% 0.072 178.49;
  /* secondary content */
  --sc: 100% 0 0;

  /* accent */
  --a: 71.09% 0.073 89.33;
  /* accent content */
  --ac: 0 0% 100%;
  /* accent focus */
  --af: 71.09% 0.073 89.33;

  /* info */
  --in: 80.91% 0.096 251.81;
  /* info content */
  --inc: 198 100% 12%;

  /* success */
  --su: 88.45% 0.175 115.43;
  /* success content */
  --suc: 158 100% 10%;

  /* warning */
  --wa: 81.12% 0.101 293.57;
  /* warning content */
  --wac: 43 100% 11%;

  /* error */
  --er: 71.92% 0.169 13.43;
  /* error content */
  --erc: 0 100% 14%;

  /* neutral */
  --n: 95.55% 0.051 87.4;
  /* neutral focus */
  --nf: 95.55% 0.051 87.4;
  /* neutral content */
  --nc: 220 13% 69%;

  /* base 100 */
  --b1: 100% 0 0;
  /* base 200 */
  --b2: 220 17% 17%;
  /* base 300 */
  --b3: 219 18% 15%;
  /* base content */
  --bc: 220 13% 69%;

  /* other settings */
  --rounded-box: 1rem;
  --rounded-btn: 0.25rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: capitalize;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

[data-theme='my_dark'] {
  /* primary */
  --in:72.06% 0.191 231.6;
  --su:64.8% 0.150 160;
  --wa:84.71% 0.199 83.87;
  --er:71.76% 0.221 22.18;
  --pc:13.138% 0.0392 275.75;
  --sc:14.96% 0.052 342.55;
  --ac:14.902% 0.0334 183.61;
  --inc:0% 0 0;
  --suc:0% 0 0;
  --wac:0% 0 0;
  --erc:0% 0 0;
  --rounded-box:1rem;
  --rounded-btn:0.5rem;
  --rounded-badge:1.9rem;
  --animation-btn:0.25s;
  --animation-input:.2s;
  --btn-focus-scale:0.95;
  --border-btn:1px;
  --tab-border:1px;
  --tab-radius:0.5rem;
  --p:88.38% 0.172 93.52;
  --s:74.8% 0.26 342.55;
  --a:74.51% 0.167 183.61;
  --n:31.3815% 0.021108 254.139175;
  --nc:74.6477% 0.0216 264.435964;
  --b1:25.3267% 0.015896 252.417568;
  --b2:23.2607% 0.013807 253.100675;
  --b3:21.1484% 0.01165 254.087939;
  --bc:74.6477% 0.0216 264.435964
}
