{% extends "base.html" %}

{% block title %}
  {{ object.name }}
{% endblock  %}

{% block content %}
<div class="max-w-md md:max-w-2xl mx-auto space-y-2">
  <section class="card md:card-side min-h-90 bg-base-100 glass">
    <figure class="shrink-0">
      <img class="h-full w-full" src="{{ object.poster.url }}" alt="Poster"/>
    </figure>
    <div class="card-body px-4 py-2">
      <h1 class="card-title myh1">{{ object.name }}</h1>
      {% if object.en_name %}
      {% endif %}
      <div>
        {{ object.release_date }} / 
        {% for genre in film.genres.all %}
          <div class="badge badge-neutral">{{genre|upper}}</div>
        {% endfor %}
      </div>
      <div>
        <div class="text-lg font-medium">ผู้กำกับ</div>
        <div>{{ film.directors.all|join:", "}}</div>
      </div>
      <div>
        <div class="text-lg font-medium">นักแสดงนำ</div>
        <div class="grid grid-cols-6">
            {% for role in object.role_set.all  %}
            <p class='col-span-4'>
              {{ role.person }} 
            </p>
            <p class='col-span-2'>
              {{ role }}
            </p>
            {% endfor %}
        </div>
      </div>
      <div>
        <div class="flex items-center space-x-0.5">
          <div class="text-lg font-medium">ลิงค์: </div>

        {% for link in film.links.all %}
          <a class="link" href={{link.link}}>{{ link.name }}</a>, 
        {% endfor %}
        </div>
      </div>
      <div class="stats stats-horizontal shadow">
        <div class="stat">
          <div class="stat-title">#รีวิว</div>
          <div class="stat-value">{{ film.reviews_count }}</div>
        </div>
        <div class="stat">
          <div class="stat-title">คะแนนเฉลี่ย</div>
          <div class="stat-value">{{ film.average_rating }}</div>
        </div>
      </div>
      <div class="card-actions justify-end mt-auto">
        {% if user.is_authenticated and not film.is_user_review %}
          <button class="btn btn-sm btn-primary">
            <a href="{% url "reviews:create" %}?film_id={{film.id}}" class="flex items-center space-x-1">
              <svg class="size-3 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                <div>
                  เขียนรีวิว
                </div>
            </a>
          </button>
        {% endif %}
      </div>
    </div>
  </section>
  <div 
    hx-get="{% url "reviews:list" %}?page=1&film_id={{film.id}}" 
    hx-trigger="intersect once" 
  >
  </div>
  
</div>
{% endblock content %}