{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  หนังไทย
{% endblock  %}

{% block content %}
<div class="px-1 max-w-md md:max-w-2xl mx-auto space-y-2">
  <h1 class="myh1">รายชื่อหนัง</h1>
  {% crispy form form.helper %}
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>ใบปิด</th>
          <th>ชื่อเรื่อง</th>
          <th>ประเภท</th>
          <th>ปีที่เข้าฉาย</th>
          <th>#รีวิว</th>
          <th>คะแนนเฉลี่ย</th>
        </tr>
      </thead>
      <tbody>
        {% for film in film_list  %}
          <tr>
            <th>
              <img class="min-w-32 w-32 object-contain" src="{{film.poster.url}}">
            </th>
            <th class="min-w-24">
              <a href="{% url 'films:detail' film.slug %}">
                {{ film.name }}
              </a>
            </th>
            <td>
              {{ film.release_date|date:"Y" }}
            </td>
            <td>
              {{ film.genres.all|join:", " }}
            </td>
            <td>
              {{ film.reviews_count }}
            </td>
            <td>
              {{ film.average_rating }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="flex justify-end">
    <div class="join">
      {% if page_obj.has_previous %}
      <a href="?page=1" class="join-item btn btn-sm">«</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="join-item btn btn-sm">‹</a>
      {% endif %}
      <button class="join-item btn btn-disabled btn-sm">{{ page_obj.number }}</button>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="join-item btn btn-sm">›</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="join-item btn btn-sm">»</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}