{% extends "base.html" %}

{% block title %}
  {{ object.name }}
{% endblock  %}

{% block content %}
<div class="space-y-2">
  <div class="card md:card-side min-h-90 bg-base-100 shadow-xl glass">
    <figure class="shrink-0">
      <img class="h-full w-full" src="{{ object.poster.url }}" alt="Poster"/>
    </figure>
    <div class="card-body">
      <p class="card-title">{{ object.name }} {% if object.en_name %}({{object.en_name}}){% endif %}</p>
      <p>{{ object.release_date }}</p>
      <div>
        {% for genre in film.genres.all %}
          <div class="badge badge-neutral">{{genre|upper}}</div>
        {% endfor %}
      </div>
      <p class="line-clamp-2 grow-0 hover:line-clamp-none">{{ object.synopsis }}</p>
      <p class="font-medium">ผู้กำกับ</p>
      <p>{{ film.directors.all|join:", "}}</p>
      <p class="font-medium">นักแสดง</p>
      <ul>
        {% for role in object.role_set.all  %}
        <li>
          {{ role.person }} ({{ role }})
        </li>
        {% endfor %}
      </ul>
      <div class="card-actions justify-end">
        {% if user.is_authenticated  %}
          {% if profile_review  %}
            <a href="{% url 'reviews:detail' profile_review.id  %}" class="btn btn-sm btn-primary">
              My Review
            </a>
          {% else %}
            <a href="{% url 'reviews:create' %}?film_id={{object.id}}" class="btn btn-sm btn-primary">
              Write a Review
            </a>
          {% endif %}
        {% endif %}
        <a href="{{ object.trailer_link }}" class="btn btn-sm btn-primary">
          Watch trailer
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}