{% extends "base.html" %}

{% block title %}
  หนังไทย
{% endblock  %}

{% block content %}
<div class="space-y-2">
  <div>
    <div>
      <h1>รายชื่อหนัง</h1>
    </div>
    <form method="GET" action="{% url 'films:list' %}">
      {{ form.as_div }}
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>ใบปิด</th>
          <th>ชื่อไทย</th>
          <th>ชื่ออังกฤษ</th>
          <th>ปีที่เข้าฉาย</th>
        </tr>
      </thead>
      <tbody>
        {% for film in object_list  %}
          <tr>
            <th>
              <img class="max-h-60" src="{{film.poster.url}}">
            </th>
            <th>
              <a href="{% url 'films:detail' film.slug %}">
                {{ film.name }}
              </a>
            </th>
            <td>
              {{ film.en_name }}
            </td>
            <td>
              {{ film.release_date|date:"Y" }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="flex justify-end">
    <div class="join">
      {% if page_obj.has_previous %}
      <a href="?page=1" class="join-item btn btn-sm">«</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="join-item btn btn-sm">‹</a>
      {% endif %}
      <button class="join-item btn btn-disabled btn-sm">{{ page_obj.number }}</button>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="join-item btn btn-sm">›</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="join-item btn btn-sm">»</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}